<!-- include header -->
<%- include('include/_header',{page: 'RenditionReddit' }) %>
    <!-- /include header -->

    <body>

        <%- include('include/_nav') %>

        <% posts.forEach(function(post) { %>
                
                <a href="/posts/<%= post._id %>" class="containerMain">
                    <div class="contentDiv">
                        <p class="contentCommunity">
                            r/<%= post.community %>


                                <span class="contentAuthor"> - <%= post.username %> - <%= post.createdAt %>
                                </span>
                        </p>


                        <p class="contentTitle">
                            <%= post.title%>
                        </p>

                        

                        <% if (post.img.data !== undefined){%>
                        <img class="contentImage" src="data:image/<%=post.img.contentType%>;base64,
                         <%=post.img.data.toString('base64')%>"width="90%"%>

                     <% } %>  
                     <img class="contentImage" src="<%= post.image %>" width="90%" >

                        <% if(!post.image) { %>
                            <p class="contentBody">
                                <%= post.body %>
                            </p>
                            <%}%>
                    </div>
                </a>
                <% }) %>
                    <div class="sidebar">
                        <div class="topCommunities">
                            Top Communities!
                            <hr>
                            <ol>
                                <li>r/example 1</li>
                                <li>r/example 2</li>
                                <li>r/example 3</li>
                                <li>r/example 4</li>
                                <li>r/example 5</li>
                            </ol>
                        </div>
                        <div class="createOrPost">
                            <p>
                                Feel free to make your own community or select one from the feed and add your own post!
                            </p>
                            <form action="/posts/new">
                                <input type="submit" value="Create Post" class="createButton">
                            </form>
                        </div>
                    </div>
    </body>

    </html>